* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden; /* This will remove the scrollbar */
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #000000 40%,
    #ff00ff 60%,
    #ff00ff 100%
  );

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html,
h1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
  /* background-color: #181818; */
  padding: 20px 0;
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

h6 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  margin-bottom: 1rem;
}

header h1 {
  color: #ffffff;
  margin-bottom: 2rem;
}

.mycanvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  width: calc(100vh * 0.75);
  height: 75vh;
  background-color: black;
  border: 5px solid white;
}

video#myVidPlayer {
  width: 100%;
  max-width: 800px;
  margin: 2rem 0;
}

#muteButton {
  padding: 10px 15px;
  background-color: #333;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute; /* Add this */
  bottom: 10px; /* Add this: Adjust as necessary */
  left: 50%;
  transform: translateX(-50%);
}

#muteButton:hover {
  background-color: #555;
}
