<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Processing</title>
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="/static/blobUtils.js"></script>
    <script type="text/javascript" defer src="/templates/script.js"></script>
  </head>
  <body>
    <header>
      <h1>Your Header Content Here</h1>
    </header>

    <video id="myVidPlayer" muted autoplay></video>

    <div class="mycanvas">
      <h6>Captured snapshot</h6>
      <canvas></canvas>
    </div>
  </body>
</html>
